<div class="container-fluid">
    <h5 class="card-title fw-semibold mb-4">Quản Lý Sản Phẩm</h5>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formsearch">
                <div class="row">
                    <div class=" col-lg-6">
                        <div class="">
                            <label for="tenSP" class="form-label">Tên sản phẩm</label>
                            <input formControlName="tenSP" style="background-color: #fff;" type="text"
                                class="form-control" id="tenSP">
                        </div>
                    </div>
                    <div class=" col-lg-6">
                        <div class="">
                            <label for="" class="form-label">Thương hiệu</label>
                            <input formControlName="thuongHieu" style="background-color: #fff;" type="text"
                                class="form-control">
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary btn-seach" (click)="search()">Tìm Kiếm</button>
        </div>

    </div>
    <div class="pull-right no-margin">
        <a (click)="createModal()" class="btn btn-success btn-xs">
            <i class="fa fa-plus"></i>&nbsp;Thêm
        </a>
    </div>
    <div class="row" style="clear: both;">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div style="overflow-y: scroll;" class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">STT</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">ID Loại SP</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tên SP</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ảnh</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Chất liệu</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Thương hiệu</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Giá</h6>
                                    </th>
                                    <th class="border-bottom-0" style="width: 160px;">
                                        <h6 class="fw-semibold mb-0">Tác vụ</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items; let i = index">
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">{{ i + 1 }}</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-1">{{item.idLoaiSP}}</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{item.tenSP}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <img  src="{{loadImage(item.hinhAnh1)}}" alt="" srcset="">
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{item.chatLieu}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{item.thuongHieu}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{item.gia | number: '1.0-0'}}đ</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <button (click)="updateModal(item)"
                                                    class="badge bg-primary rounded-3 fw-semibold">Sửa</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <button (click)="deleteModal(item.id)"
                                                    class="badge bg-danger rounded-3 fw-semibold">Xóa</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="5" [maxSize]="5"
                    class="pagination-ct" (pageChange)="loadPage($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="showUpdateModal" id="createUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sl full-height-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isCreate" class="modal-title">Nhập thông tin sản phẩm</h4>
                    <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin sản phẩm</h4>
                </div>
                <form class="modal-form">
                    <div class="row">
                        <div class=" col-lg-4">
                            <div class="" [formGroup]="formdata">
                                <label for="idloaiSP" class="form-label">Loại Sản Phẩm</label>
                                <select id="idloaiSP" formControlName="idloaiSP" class="form-select">
                                    <option *ngFor="let category of categories" [value]="category.id">
                                        {{category.tenLoai}}</option>
                                </select>
                            </div>
                            <div class="" [formGroup]="formdata">
                                <label for="hoTen" class="form-label">Tên sản phẩm(<span
                                        style="color: red;">*</span>)</label>
                                <input type="text" id="hoTen" formControlName="tenSP" class="form-control">
                            </div>
                            <div class="" [formGroup]="formdata">
                                <label for="ngaySinh" class="form-label">Mô tả</label>
                                <input type="text" id="ngaySinh" formControlName="moTa" class="form-control">
                            </div>
                            <div class="" [formGroup]="formdata">
                                <label for="sdt" class="form-label">Hình ảnh</label>
                                <input type="file" id="" #fileInput formControlName="hinhAnh" class="form-control">
                            </div>
                            <div class="" [formGroup]="formdata">
                              <label for="gia" class="form-label">Giá</label>
                              <input type="number"  formControlName="gia" class="form-control">
                            </div>
                            <div class="" [formGroup]="formdata">
                                <label for="thuongHieu" class="form-label">Thương Hiệu</label>
                                <select id="thuongHieu" formControlName="thuongHieu" class="form-select">
                                    <option *ngFor="let label of labels" [value]="label">
                                        {{label}}</option>
                                </select>
                            </div>
                            <div class="" [formGroup]="formdata">
                                <label for="chatLieu" class="form-label">Chất liệu</label>
                                <select id="chatLieu" formControlName="chatLieu" class="form-select">
                                    <option *ngFor="let material of materials" value={{material}}>
                                        {{material}}</option>
                                </select>
                            </div>
                        </div>
                        <div class=" col-lg-8" *ngIf="!isCreate">
                            <div class="row">
                                <div class=" col-lg-6">
                                    <div class="" [formGroup]="formDetail">
                                        <label for="size" class="form-label">Size</label>
                                        <select id="size" formControlName="size" class="form-select">
                                            <option *ngFor="let size of sizes" value={{size}}>{{size}}</option>
                                        </select>
                                    </div>
                                    <div class="" [formGroup]="formDetail">
                                        <label for="" class="form-label">Hình ảnh</label>
                                        <input type="file" #fileInput class="form-control">
                                    </div>
                                </div>
                                <div class=" col-lg-6">
                                    <div class="" [formGroup]="formDetail">
                                        <label for="mauSac" class="form-label">Màu sắc</label>
                                        <select id="mauSac" formControlName="mauSac" class="form-select">
                                            <option *ngFor="let color of colors" value={{color}}>{{color}}</option>
                                        </select>
                                    </div>
                                    <div class="" [formGroup]="formDetail">
                                        <label for="soluong" class="form-label">Số lượng(<span
                                                style="color: red;">*</span>)</label>
                                        <input type="number" id="soluong" formControlName="soLuong"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right no-margin">
                                <a *ngIf="!this.isUpdateDetail" class="btn btn-success btn-xs" (click)="addDetail(formDetail.value, fileInput)">
                                    <i class="fa fa-plus"></i>&nbsp;Thêm
                                </a>
                                <a *ngIf="this.isUpdateDetail" class="btn btn-success btn-xs" (click)="submitDetail(formDetail.value)">
                                    <i class="fa fa-check"></i>Xác nhận
                                </a>
                            </div>
                            <div class="row" style="clear: both;">
                                <div class="table-responsive" style="overflow-y: scroll;">
                                    <table class="table text-nowrap mb-0 align-middle" >
                                        <thead class="text-dark fs-4">
                                            <tr>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">STT</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Size</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Màu Sắc</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Hình Ảnh</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Số Lượng</h6>
                                                </th>
                                                <th class="border-bottom-0" style="width: 160px;">
                                                    <h6 class="fw-semibold mb-0">Tác vụ</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let detail of productDetails; let i = index">
                                                <td class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">{{ i + 1 }}</h6>
                                                </td>
                                                <td class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-1">{{detail.size}}</h6>
                                                </td>
                                                <td class="border-bottom-0">
                                                    <p class="mb-0 fw-normal">{{detail.mauSac}}</p>
                                                </td>
                                                <td class="border-bottom-0">
                                                    <img src="{{loadImage(detail.hinhAnh)}}" alt="" srcset="">
                                                </td>
                                                <td class="border-bottom-0">
                                                    <p class="mb-0 fw-normal">{{detail.soLuong}}</p>
                                                </td>
                                                <td class="border-bottom-0">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <button (click)="updateDetail(detail)" type="button"
                                                                class="badge bg-primary rounded-3 fw-semibold">Sửa</button>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button class="badge bg-danger rounded-3 fw-semibold" type="button"
                                                                (click)="deleteDetal(detail.id, i)">Xóa</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="modal-btn">
                        <button class="btn btn-danger" (click)="closeModal('createUserModal')">Hủy</button>
                        <button class="btn btn-primary" (click)="onSubmit(formdata.value, 'createUserModal')">Xác
                            nhận</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
