<div class="container-fluid">
  <h5 class="card-title fw-semibold mb-4">Quản Lý Tin Tức</h5>
  <div class="card">
      <div class="card-body">
          <form [formGroup]="formsearch">
              <div class="row">
                  <div class=" col-lg-6">
                      <div class="">
                          <label for="tieuDe" class="form-label">Tiêu đề bài viết</label>
                          <input formControlName="tieuDe" style="background-color: #fff;" type="text"
                              class="form-control" id="tieuDe">
                      </div>
                  </div>
              </div>
          </form>
          <button class="btn btn-primary btn-seach" (click)="search()">Tìm Kiếm</button>
      </div>

  </div>
  <div class="pull-right no-margin">
      <a (click)="createModal()" class="btn btn-success btn-xs">
          <i class="fa fa-plus"></i>&nbsp;Thêm
      </a>
  </div>
  <div class="row" style="clear: both;">
      <div class="col-lg-12 d-flex align-items-stretch">
          <div class="card w-100">
              <div class="card-body p-4">
                  <div style="overflow-y: scroll;" class="table-responsive">
                      <table class="table text-nowrap mb-0 align-middle">
                          <thead class="text-dark fs-4">
                              <tr>
                                  <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">STT</h6>
                                  </th>
                                  <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">Tiêu đề</h6>
                                  </th>
                                  <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">Ngày viết</h6>
                                  </th>
                                  <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">Hình ảnh</h6>
                                  </th>
                                  <th class="border-bottom-0" style="width: 160px;">
                                      <h6 class="fw-semibold mb-0">Tác vụ</h6>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of items; let i = index">
                                  <td class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">{{ i + 1 }}</h6>
                                  </td>
                                  <td class="border-bottom-0">
                                      <h6 class="fw-semibold mb-1">{{item.tieuDe}}</h6>
                                  </td>
                                  <td class="border-bottom-0">
                                      <p class="mb-0 fw-normal">{{item.ngayViet}}</p>
                                  </td>
                                  <td class="border-bottom-0">
                                    <img  src="{{loadImage(item.hinhAnh)}}" alt="" srcset="">
                                  </td>
                                  <td class="border-bottom-0">
                                      <div class="row">
                                          <div class="col-lg-6">
                                              <button (click)="updateModal(item)"
                                                  class="badge bg-primary rounded-3 fw-semibold">Sửa</button>
                                          </div>
                                          <div class="col-lg-6">
                                              <button (click)="deleteModal(item.id)"
                                                  class="badge bg-danger rounded-3 fw-semibold">Xóa</button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="5" [maxSize]="5"
                  class="pagination-ct" (pageChange)="loadPage($event)">
              </ngb-pagination>
          </div>
      </div>
  </div>
  <div *ngIf="showUpdateModal" id="createUserModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sl full-height-modal">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 *ngIf="isCreate" class="modal-title">Nhập thông tin bài viết</h4>
                  <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin bài viếtn</h4>
              </div>
              <form class="modal-form" [formGroup]="formdata">
                  <div class="row">
                      <div class=" col-lg-4">
                          <div class="">
                              <label for="tieuDe" class="form-label">Tiêu đề(<span
                                      style="color: red;">*</span>)</label>
                              <input type="text" id="tieuDe" formControlName="tieuDe" class="form-control">
                              <div *ngIf="formdata.get('tieuDe').invalid && formdata.get('tieuDe').touched"
                                  class="invalid-form">
                                  <div *ngIf="formdata.get('tieuDe').errors.required">Tiêu đề là bắt buộc.</div>
                              </div>
                          </div>
                          <div class="">
                              <label for="ngaySinh" class="form-label">Ngày viết</label>
                              <input type="date" id="ngaySinh" formControlName="ngayViet" class="form-control">
                          </div>
                          <div class="">
                              <label for="sdt" class="form-label">Hình ảnh</label>
                              <input type="file" id="" #fileInput formControlName="hinhAnh" class="form-control">
                          </div>
                      </div>
                      <div class="col-lg-4">
                      </div>
                      <div class="col-lg-4">
                      </div>
                  </div>
              </form>
              <div class="modal-footer">
                  <div class="modal-btn">
                      <button class="btn btn-danger" (click)="closeModal('createUserModal')">Hủy</button>
                      <button class="btn btn-primary" (click)="onSubmit(formdata.value, 'createUserModal', fileInput)">Xác
                          nhận</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="confirmDeleteModal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Bạn có chắc chắn muốn xóa không?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-danger" (click)="confirmDelete()">Xóa</button>
              </div>
          </div>
      </div>
  </div>

</div>
