<div class="container-fluid">
  <h5 class="card-title fw-semibold mb-4">Quản Lý Hóa Đơn</h5>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="formsearch">
        <div class="row">
          <div class="col-lg-6">
            <div>
              <label for="tenSP" class="form-label">Tên Loại</label>
              <input formControlName="tenLoai" style="background-color: #fff;" type="text" class="form-control" id="tenSP">
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary btn-seach" (click)="search()">Tìm Kiếm</button>
    </div>
  </div>

  <div class="row" style="clear: both;">
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          <div class="table-responsive" style="overflow-y: scroll;">
            <table class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">STT</h6>
                  </th>
                  <th class="border-bottom-0" style="width: 260px;">
                    <h6 class="fw-semibold mb-0" >ID KH</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Ghi chú</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Khuyến mại</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Trạng thái ĐH</h6>
                  </th>
                  <th class="border-bottom-0" style="width: 160px;">
                    <h6 class="fw-semibold mb-0">Tác vụ</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of bill; let i = index">
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">{{ i + 1 }}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{ item.tenKH }}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ item.ghiChu }}</p>
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ item.ngayTao }}</p>
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ item.khuyenMai }}</p>
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ item.tongTien | number: '1.0-0'}} đ</p>
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ item.tinhTrangDH == 11 || item.tinhTrangDH == 12 ? "Chưa xác nhận" :
                    item.tinhTrangDH == 21 ? "Đã xác nhận" : item.tinhTrangDH == 31 ? "Đang vận chuyển" : "Giao hàng thành công" }}</p>
                  </td>
                  <td class="border-bottom-0">
                    <div class="row">
                      <div class="col-lg-6">
                        <button  class="badge bg-success rounded-3 fw-semibold" (click)="updateModal(item)">Xem chi tiết</button>
                      </div>
                      <div class="col-lg-6">
                        <button (click)="deleteModal(item.id)" class="badge bg-danger rounded-3 fw-semibold">Xóa</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="5" [maxSize]="5"
          class="pagination-ct" (pageChange)="loadPage($event)">
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div *ngIf="showUpdateModal" id="createUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sl full-height-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="!isCreate" class="modal-title">Xem thông tin đơn hàng</h4>
            </div>
            <form class="modal-form">
                <div class="row">
                    <div class=" col-lg-4">
                        <div class="" [formGroup]="formdata">
                            <label for="hoTen" class="form-label">Tên khách hàng(<span
                                    style="color: red;">*</span>)</label>
                            <input type="text" id="hoTen" formControlName="tenSP" class="form-control">
                        </div>
                        <div class="" [formGroup]="formdata">
                            <label for="ngaySinh" class="form-label">Mô tả</label>
                            <input type="text" id="ngaySinh" formControlName="moTa" class="form-control">
                        </div>
                        <div class="" [formGroup]="formdata">
                            <label for="sdt" class="form-label">Hình ảnh</label>
                            <input type="file" id="" #fileInput formControlName="hinhAnh" class="form-control">
                        </div>
                        <div class="" [formGroup]="formdata">
                          <label for="gia" class="form-label">Giá</label>
                          <input type="number"  formControlName="gia" class="form-control">
                        </div>
                        <div class="" [formGroup]="formdata">
                            <label for="chatLieu" class="form-label">Chất liệu</label>
                            <select id="chatLieu" formControlName="chatLieu" class="form-select">
                                <option value="11">Chưa xác nhận</option>
                                <option value="12">Chưa xác nhận</option>
                                <option value="21">Đã xác nhận</option>
                                <option value="31">Đang vận chuyển</option>
                                <option value="31">Giao hàng thành công</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-lg-8" *ngIf="!isCreate">
                        <div class="row" style="clear: both;">
                            <div class="table-responsive" style="overflow-y: scroll;">
                                <table class="table text-nowrap mb-0 align-middle" >
                                    <thead class="text-dark fs-4">
                                        <tr>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">STT</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Size</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Màu Sắc</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Hình Ảnh</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Số Lượng</h6>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detail of productDetails; let i = index">
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">{{ i + 1 }}</h6>
                                            </td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-1">{{detail.size}}</h6>
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal">{{detail.mauSac}}</p>
                                            </td>
                                            <td class="border-bottom-0">
                                                <img src="{{loadImage(detail.hinhAnh)}}" alt="" srcset="">
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal">{{detail.soLuong}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div class="modal-btn">
                    <button class="btn btn-danger" (click)="closeModal('createUserModal')">Hủy</button>
                    <button class="btn btn-primary" (click)="onSubmit(formdata.value, 'createUserModal')">Xác
                        nhận đơn hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Confirm Delete Modal -->
  <div class="modal fade" id="confirmDeleteModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Xóa</button>
        </div>
      </div>
    </div>
  </div>

</div>
