
<!-- <app-slider></app-slider> -->
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div style="width: 500px;" class="banner__item__pic">
                        <img src="assets/users/img/banner/slider01.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Bộ sưu tập quần áo 2024</h2>
                        <a href="./categories">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="assets/users/img/banner/somimau1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Sơ mi hè hot</h2>
                        <a href="./categories">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div style="width: 400px;" class="banner__item__pic">
                        <img src="assets/users/img/banner/polokhuyenmi.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Polo oversize</h2>
                        <a href="./categories">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter=".new-arrivals">Sản phẩm mới</li>
                    <li data-filter=".hot-sales">Sản phẩm bán chạy</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales" *ngFor="let product of products.slice(0,4); let i = index">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="assets/users/img/product/product-1.jpg">
                        <img src="{{loadImage(product.hinhAnh1)}}" alt="" srcset="">
                        <span class="label">New</span>
                    </div>
                    <div class="product__item__text">
                        <h6 routerLink="/product-details/{{product.id}}">{{product.tenSP}}</h6>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>{{product.gia | number: '1.0-0'}} đ</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals" *ngFor="let product of productsnew.slice(0,4); let i = index">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="assets/users/img/product/product-1.jpg">
                        <img src="{{loadImage(product.hinhAnh1)}}" alt="" srcset="">
                        <span class="label">New</span>
                    </div>
                    <div class="product__item__text">
                        <h6 routerLink="/product-details/{{product.id}}">{{product.tenSP}}</h6>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>{{product.gia | number: '1.0-0'}} đ</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2> <br /> <span>Quần áo hot</span> <br /> </h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="assets/users/img/MLBXanhsomi.jpg" alt="">
                    <div class="hot__deal__sticker">
                        <span>Sale Of</span>
                        <h5>990.000 đ</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Giao dịch trong tuần</span>
                    <h3>MLB - Áo sơ mi unisex tay dài Classic Monogram Big</h3>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="assets/users/img/instagram/instagram-1.jpg">
                      <img src="assets/users/img/instagram/instagram-1.jpg" alt="" srcset="">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/users/img/instagram/instagram-2.jpg">
                      <img src="assets/users/img/instagram/instagram-2.jpg" alt="" srcset="">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/users/img/instagram/instagram-3.jpg">
                      <img src="assets/users/img/instagram/instagram-3.jpg" alt="" srcset="">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/users/img/instagram/instagram-4.jpg">
                      <img src="assets/users/img/instagram/instagram-4.jpg" alt="" srcset="">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/users/img/instagram/instagram-5.jpg">
                      <img src="assets/users/img/instagram/instagram-5.jpg" alt="" srcset="">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/users/img/instagram/instagram-6.jpg">
                      <img src="assets/users/img/instagram/instagram-6.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>Chào mừng bạn đến với cửa hàng thời trang của chúng tôi, nơi phong cách và chất lượng gặp gỡ để mang đến cho bạn những trải nghiệm mua sắm tuyệt vời. Hãy khám phá bộ sưu tập thời trang mới nhất và tìm cho mình những món đồ yêu thích để thể hiện phong cách riêng của bạn.</p>
                    <h3>#Male_Fashion</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Tin mới nhất</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of blogs">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/users/img/blog/blog-1.jpg">
                      <img src="{{loadImage(item.hinhAnh)}}" alt="" srcset="">
                    </div>
                    <div class="blog__item__text">
                        <span><img src="assets/users/img/icon/calendar.png" alt=""> {{item.ngayViet}}</span>
                        <h5>{{item.tieuDe}}</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
