<!-- <form class="modal-form">
    <div class="row">
        <div class=" col-lg-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="col-lg-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="col-lg-3">
            <label for="disabledSelect" class="form-label">Disabled select menu</label>
            <select id="disabledSelect" class="form-select">
                <option>Disabled select</option>
            </select>
        </div>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

</form>
<div class="modal-footer">
    <div class="modal-btn">
        <button class="btn btn-danger" (click)="closeModal('createUserModal')">Hủy</button>
        <button class="btn btn-primary">Xác nhận</button>
    </div>
</div> -->