<div class="modal-dialog modal-xs full-height-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Đăng nhập hệ thống</h4>
        </div>
        <form class="modal-form" [formGroup]="formLogin">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="">
                        <label for="username" class="form-label">Tên đăng nhập(<span style="color: red;">*</span>)</label>
                        <input type="text" id="username" formControlName="username" class="form-control">
                        <div *ngIf="formLogin.get('username').invalid && formLogin.get('username').touched"
                            class="invalid-form">
                            <div *ngIf="formLogin.get('username').errors.required">Tên là bắt buộc.</div>
                        </div>
                    </div>
                    <div class="">
                        <label for="password" class="form-label">Mật khẩu(<span style="color: red;">*</span>)</label>
                        <input type="password" id="" formControlName="password" class="form-control">
                        <div *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched"
                            class="invalid-form">
                            <div *ngIf="formLogin.get('password').errors.required">Tên là bắt buộc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <div class="modal-btn">
                <button class="btn btn-primary" (click)="CheckLogin(formLogin.value)">Đăng Nhập</button>
            </div>
        </div>
    </div>
</div>