<div style="display: flex;justify-content: center;">
  <div class="container">
    <div class="box">
      <div *ngIf="isLogin" class="form sign_in">
        <h3>Đăng nhập</h3>
        <span>hoặc sử dụng tài khoản của bạn</span>

        <div id="form_input">
          <div class="type" [formGroup]="formLogin">
            <input type="email" placeholder="Email" formControlName="username" id="email">
          </div>
          <div class="type" [formGroup]="formLogin">
            <input type="password" placeholder="Password" formControlName="password" id="password">
          </div>

          <div class="forgot">
            <span>Quên mật khẩu ?</span>
          </div>

          <button class="btn bkg" (click)="checkLogin(formLogin.value)">Đăng nhập</button>
        </div>
      </div>

      <div *ngIf="!isLogin" class="form sign_in">
        <h3>Đăng ký</h3>
        <span>hoặc sử dụng email của bạn để đăng ký</span>

        <div id="form_input">
          <div class="type" [formGroup]="formSignUp">

            <input type="text" name="" placeholder="tenDN" formControlName="tenDN" id="name">
          </div>
          <div class="type" [formGroup]="formSignUp">
            <input type="text" name="" placeholder="Name" formControlName="hoTen" id="name">
          </div>
          <div class="type" [formGroup]="formSignUp">

            <input type="email" name="" placeholder="Email" formControlName="email" id="email">
          </div>
          <div class="type" [formGroup]="formSignUp">

            <input type="password" name="" placeholder="Password" formControlName="matKhau" id="password">
          </div>

          <button class="btn bkg" (click)="checkSingUp(formSignUp.value)">Đăng ký</button>
        </div>
      </div>
    </div>

    <div class="overlay">
      <div *ngIf="isLogin" class="page page_signIn">
        <h3>Chào mừng trở lại!</h3>
        <p>Để theo dõi chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>

        <button class="btn btnSign-in" (click)="checkFormSignUp()">
          Đăng ký <i class="bi bi-arrow-right"></i>
        </button>
      </div>

      <div *ngIf="!isLogin" class="page page_signIn">
        <h3>Chào bạn!</h3>
        <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>

        <button class="btn btnSign-up" (click)="checkFormSignIn()">
          <i class="bi bi-arrow-left"></i> Đăng ký</button>
      </div>
    </div>
  </div>
</div>
